.profile {
  max-width: 880px;
  margin: auto;
  font-style: normal;
  color: #ffffff;
  display: flex;
  margin-bottom: 50px;
}
@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 288px;
    margin-bottom: 36px;
  }
}
