.profile__hobby {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
}
@media screen and (max-width: 740px) {
  .profile__hobby {
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 36px;
  }
}
