.card__delete-button {
  border: 0;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/Trash1.svg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  width: 18px;
  height: 19px;
  position: absolute;
  right: 15px;
  top: 18px;
  cursor: pointer;
  transition: ease-in 1s;
}
.card__delete-button:hover {
  opacity: 0.6;
}
